*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-wrapper{
  width: 100%;
  height: 100vh;
  background: #96a8ad;

}
.menu-buttons{
  display: none;
}

.content-wrapper{
  width: 98%;
  height: 100%;
  margin: 0 auto;
  background: red;
  display: grid;
  grid-template-columns: 1fr 3fr 1.5fr;
  padding: 5px;
}

/*start of left navigation bar*/

.left-container{
  background: blue;
  text-align: center;
  height: 82%;
  overflow: hidden;
}
.navigation{
  display: flex;
  flex-direction: column;
}
.navigation-title{
  text-transform: uppercase;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navigation-title h1{
  font-size: 20px;
}
.navigation-items{
  background: white;
  margin-top: 20px;
}
.navigation-items ul{
  list-style: none;
}
.navigation-items ul li{
  margin: 30px 0;
}
.navigation-items ul li a{
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}
.pages{
  margin-top: 20px;
}
.navigation-items-2{
  background: white;
}
.navigation-items-2 ul{
  list-style: none;
  margin-top: 10px;
}
.navigation-items-2 ul li{
  margin-bottom: 10px;
  text-transform: uppercase;
}
.navigation-items-2 ul li a{
  text-decoration: none;
  margin: 20px 0;
  display: inline-block;
}

/*end of left navigation bar*/

/*start of center part*/

.center-container{
  background: yellow;
  text-align: center;
  height: 82%;
  overflow: hidden;
}
.top-part{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background: red;
  height: 135px;
  overflow: hidden;
}
.logo-container{
  padding: 5px;
  overflow: hidden;
  border-radius: 50%;
}
.logo-container img{
  width: 100px;
  border-radius: 50%;
  height: 100px;
  align-items: center;
  margin-top: 20%;
}
.description{
  display: flex;
  flex-direction: column;
  background: white;
}
.description h1{
  font-size: 20px;
}
.topic-detail{
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: #00ccff;
  height: 100%;
  overflow: hidden;
  align-items: center;
}
.topic-description{
  font-size: 14px;
  color: black;
  font-weight: 400;
}
.topic-detail img{
  width: 100%;
  height: 110px;
  border-radius: 5px;
}
.page-name{
  text-align: center;
  align-items: center;
}
.page-name h2{
  font-weight: bold;
  font-size: 25px;
  color: white;
  margin-top: 25%;
}
/* end of center part*/

/*center part*/
.center-part{
  width: 100%;
  background: green;
  height: 70%;
  text-align: center;
  padding-top: 30px;
}
.screen-body{
  width: 90%;
 text-align: center;
 background: white;
 height: 65%;
 margin: 0 auto;
 border-radius: 20px;
 border: 30px solid black;
 align-items: center;
 position: relative;
 overflow-y: scroll;
}
.notification-screen{
  width: 100%;
  height: 10%;
  background: #983c3d;
  margin: 0 auto;
  position: absolute;
  top: 90%;
  bottom: 0;
  left: 0;
}
/* start of chats css*/
.chats{
  text-align: center;
  padding: 4px;
  
  
}
.chats p{
  background: #c9c9c9;
  border-radius: 5px;
  margin-bottom: 3px;
  padding: 3px;
}
/* end of chats css*/

.notification-screen h3{
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0;
  text-transform: uppercase;
}
.form-container{
  width: 90%;
  margin: 0 auto;
  height: 20%;
  margin-top: 10px;
  padding-top: 10px;
}
.form-container form{
  display: flex;
  flex-direction: column;
}
textarea{
  margin-bottom: 10px;
  font-size: 15px;
  border: 2px solid gray;
  font-weight: 400;
  padding: 8px 2px;
}
.submit{
  width: 30%;
  align-self: center;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 0;
  border: 2px solid gray;
}
/* start bottom part*/
.bottom-part{
  
}
.advertisement{
  background: pink;
}
.advertisement h1{
  color: white;
  font-size: 30px;
  font-weight: 800;
  padding: 15px 0;
}
.previous-interview{
  text-align: ;
  padding: 10px 20px;
}
.previous-interview p{
  color: black;
  font-weight: 500;
}
.previous-card{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.previous-image{
  flex-basis: 40%;
  overflow: hidden;
}
.previous-image img{
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.previous-quote{
  font-size: 15px;
  text-align: left;
  padding-left: 10px;
}
.read-more{
  text-decoration: none;
  padding: 4px 10px;
  background: blue;
  border: 1px solid blue;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  display: inline-block;
}

/* end bottom part*/

/*end of center part*/

/*right-container*/

.right-container{
  background: #e9e9e9;
  height: 82%;
  overflow: hidden;
}
.popular-interviews, .our-program{
  text-align: center;
  width: 100%;
  height: 30%;
  padding-top: 20px;
}
.popular-interviews h2, .our-program h1{
  text-transform: uppercase;
  color: black;
  font-size: 20px;
}
.popular-interviews ul, .our-program ul{
  list-style: none;
}
.popular-interviews ul li, .our-program ul li{
  margin: 10px 0;
}
.popular-interviews ul li a, .our-program ul li a{
  text-decoration: none;
  font-size: 18px;
}
  .advert{
    height: 20%;
    width: 100%;
    text-align: center;
    background: #c7c7c7;
    border: 1px solid #cacaca;
    box-shadow: 4px 15px 15px -5px rgba(0,0,0,0.4);
  }
  .advert p{
    font-style: italic;
  }
  .contact{
    align-items: center;
    height: 30%;
    width: 100%;
    text-align: center;
  }
  .contact h1{
    margin-bottom: 10px;
  }
  .contact form{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
input{
  margin-bottom: 8px;
  padding: 2px 2px;
  font-size: 15px;
}
.contact-submit{
  width: 25%;
  align-self: center;
  padding: 6px 0;
}
/*end of right-container*/

/*bottom banner*/
.bottom-banner{
  position: absolute;
  top: 82%;
  left: 1%;
  width: 98%;
  background: brown;
  height: 18%;
  background-image: url('imgs/bottom-banner.png');
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 80px 20px;
}
.bottom-banner h2{
  font-size: 50px;
  color: white;
  font-weight: 800;
  margin: 10x 0;
}
.bottom-banner p{
  font-size: 25px;
  color: white;
  margin: 15px 0;
  font-weight: bold;
}


/*media query*/

@media(max-width:700px){
  .content-wrapper{
  width: 98%;
  height: 96%;
  margin: 0 auto;
  background: red;
  display: flex;
  padding: 5px;
  position: relative;
}
.menu-buttons{
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
}
.nav-btn button, .pack-btn button{
  text-transform: uppercase;
}
/*start of left navigation bar*/

.left-container{
  flex-basis: 0%;
  height: 98%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
  left: -200px;
}
.left-container.active{
  left: 0px;
}
.navigation-title{
  padding-top: 5px;
  padding-bottom: 2px;
}
.navigation-title h1{
  font-size: 10px;
}
.navigation-items{
  margin-top: 5px;
}
.navigation-items ul{
  list-style: none;
}
.navigation-items ul li{
  margin: 5px 0;
}
.navigation-items ul li a{
  font-size: 10px;
}
.pages{
  margin-top: 10px;
}
.navigation-items-2{
  background: white;
}
.navigation-items-2 ul{
  list-style: none;
  margin-top: 5px;
}
.navigation-items-2 ul li{
  margin-bottom: 5px;
  text-transform: uppercase;
}
.navigation-items-2 ul li a{
  text-decoration: none;
  margin: 2px 0;
  display: inline-block;
  font-size: 10px;
}
.advert1{
  height: 23% !important;
  margin-top: 10px !important;
}
.advert1 p{
   font-size: 8px;
}
/*end of left navigation bar*/

/*start of center part*/

.center-container{
  height: 90%;
  overflow: hidden;
}
.top-part{
  height: 90px;
}
.logo-container{
  padding: 2px;
}
.logo-container img{
  width: 40px;
  border-radius: 50%;
  height: 40px;
  align-items: center;
  margin-top: 20%;
}
.description{
  display: flex;
  flex-direction: column;
  background: white;
}
.description h1{
  font-size: 12px;
}
.topic-description{
  font-size: 12px;
  font-weight: 300;
}
.topic-detail img{
  width: 40px;
  height: 40px;
}
.page-name h2{
  font-size: 12px;
  margin-top: 25%;
}
/* end of center part*/

/*center part*/
.center-part{
  width: 100%;
  height: 60%;
  padding-top: 5px;
}
.screen-body{
 width: 90%;
 height: 60%;
 border: 15px solid black;
}
.notification-screen{
  width: 100%;
  height: 20%;
  background: #983c3d;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
}
.notification-screen h3{
  color: white;
  font-size: 6px;
  font-weight: bold;
  padding: 2px 0;
  text-transform: uppercase;
}
.form-container{
  width: 50%;
  margin: 0 auto;
  height: 0%;
  margin-top: 2px;
  padding-top: 2px;
}
.form-container form{
  display: flex;
  flex-direction: column;
}
.phone-textarea{
  margin-bottom: 2px;
  font-size: 12px;
  border: 2px solid gray;
  font-weight: 400;
  padding: 4px 1px;
}
.submit{
  width: 30%;
  font-size: 12px;
  padding: 4px 0;
  border: 2px solid gray;
}
/* start bottom part*/
.bottom-part{
  
}
.advertisement{
  background: pink;
}
.advertisement h1{
  color: white;
  font-size: 10px;
  font-weight: 800;
  padding: 6px 0;
  display: none;
}
.previous-interview{
  text-align: ;
  padding: 5px 10px;
}
.previous-interview p{
  color: black;
  font-weight: 500;
}
.para{
  display: none;
}
.previous-card{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.previous-image{
  flex-basis: 40%;
  overflow: hidden;
}
.previous-image img{
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.previous-quote{
  font-size: 10px;
  text-align: left;
  padding-left: 10px;
}
.read-more{
  text-decoration: none;
  padding: 4px 10px;
  background: blue;
  border: 1px solid blue;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  border-radius: 10px;
  display: inline-block;
}

/* end bottom part*/

/*end of center part*/

/*right-container*/

.right-container{
  flex-basis: 0;
  background: #e9e9e9;
  height: 98%;
  overflow: hidden;
  position: absolute;
  right: 340px;
  top: 0;
  transition: 0.7s;
}
.right-container.active{
  right: 0;
}
.popular-interviews, .our-program{
  text-align: center;
  width: 100%;
  height: 30%;
  overflow: hidden;
  padding-top: 5px;
}
.popular-interviews h2, .our-program h1{
  text-transform: uppercase;
  color: black;
  font-size: 15px;
}
.popular-interviews ul, .our-program ul{
  list-style: none;
}
.popular-interviews ul li, .our-program ul li{
  margin: 5px 0;
}
.popular-interviews ul li a, .our-program ul li a{
  text-decoration: none;
  font-size: 8px;
}
  .advert{
    height: 20%;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
    background: #c7c7c7;
    border: 1px solid #cacaca;
    box-shadow: 4px 15px 15px -5px rgba(0,0,0,0.4);
  }
  .advert p{
    font-style: italic;
  }
  .contact{
    height: 30%;
    width: 100%;
  }
  .contact h1{
    margin-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
  }
  .contact form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
input{
  margin-bottom: 4px;
  padding: 2px 2px;
  font-size: 10px;
}
.contact-submit{
  width: 25%;
  padding: 2px 0;
}
/*end of right-container*/

/*bottom banner*/
.bottom-banner{
  top: 90%;
  left: 1%;
  width: 98%;
  height: 10%;
  background-image: url('imgs/bottom-banner.png');
  padding: 0px 0px;
  z-index: 10;
}
.bottom-banner h2{
  font-size: 10px;

  margin: 5px 0;
}
.bottom-banner p{
  font-size: 8px;
  margin: 5px 0;
}
.our-program{
  display: none;
}
}
